body{
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin:0;
    padding: 20px
}

.tarjeta{
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    max-width: 400px;

}
.tarjeta h2{
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tarjeta p{

    color:#555;
    padding: 5px 10px;
    margin-bottom: 15px;

}

.tarjeta .button{
    background-color: #28a745;
    width: 100%;
    padding:10px;
    color:white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top:20px;
}

.tarjeta .colores{
    background-color: #ffcc00;
    color:#333;
    padding: 5px 10px;
    border-radius: 5px;
}

.tarjeta .button:hover{
    background-color: #218838;
}