body{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    overflow:  hidden;
    border: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.caja{
    float:left;
    width: 30%;
    margin: 2%;
    background-color: lightblue;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}