body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    height: 100hv;
    margin: 0;
    padding: 20px;
}

.transicion{
    width: 200px;
    height: 100px;
    background-color: #3498db;
    color:white;
    font-size: 16px;
    line-height: 100px;
    margin:10px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition-property: background-color, transform, opacity; /* Propiedades a las se le aplica la transicion*/
    transition-duration: 0.5s, 1s, 1.5s; /* Duracion para cada transicion*/
    transition-timing-function: ease, cubic-bezier(.29, 1.01, 1, -0.68), ease-out; /*Funcion de temporizacion de cada transicion */
    transition-delay: 0s, 0.2s, 0.4s; /* Retardo para cada transicion */


}

.transicion:hover{
    background-color: #2ecc71;
    transform: rotate(15deg) scale(1.1);
    opacity: 0,8;
}