/*
p:nth-child(1){
background-color: #999;
}

p:nth-child(2){
background-color: #ccc;
}

p:nth-child(3){
    background-color: #999;
}
    
p:nth-child(4){
background-color: #ccc;
}
  */
  
p:nth-child(odd){  /* Elementos de la lista impares*/
    background-color: blue;
}

p:nth-child(even){ /* Elementos de la lista pares*/
    background-color: #ccc;
}