.borde-boton{
    padding: 10px 20px;
    font-size: 16px;
    color:white;
    background-color: #28a745;
    border: 2px solid #218838;
    border-radius: 10px;
    outline-width: 4px;
    outline-style: dotted;
    outline-color: #ffc107;
    cursor: pointer;
    margin: 20px;
}

.borde-boton:hover{
    background-color: #218838;
    border-color: #1e7e34;
}